
@model IEnumerable<TrendSet.Models.Order>
@{
    ViewBag.Title = "OrdersViewForCustomer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (TempData["Payment_Message"] != null)
{
    <p class="alert alert-success" id="successMessage">@TempData["Payment_Message"]</p>
}
@if (TempData["Payment_UnsuccesfulMessage"] != null)
{
    <p class="alert alert-success" id="successMessage">@TempData["Payment_UnsuccesfulMessage"]</p>
}

<h4>Active Orders</h4>
<table align="center" class="table table-striped" style="background-color:white">
    <tr>
        <th>
            OrderId
        </th>
        <th>
            DressId
        </th>
        <th>
            Status
        </th>
        <th>
            Bill
        </th>
        <th>
            Courier
        </th>
        <th>
            BillStatus
        </th>
        <th></th>
    </tr>
    @foreach (var item in ViewBag.ActiveOrders)
    {
        <tr>
            <td>
                @item.OrderId
            </td>
            <td>
                @item.TailorDressCategoryMapping.Id
            </td>
            <td>
                @item.Status
            </td>
            <td>
                @item.Bill
            </td>
            <td>
                @item.Courier
            </td>
            <td>
                @item.BillStatus
            </td>
            @if (item.BillStatus != "Paid")
            {
                <td>
                    @Html.ActionLink("Make Payment", "MakePayment", new { id = item.OrderId })
                </td>
            }

        </tr>
    }
</table>
<h4>Completed Orders</h4>
<table align="center" class="table table-striped" style="background-color:white">
    <tr>
        <th>
            OrderId
        </th>
        <th>
            DressId
        </th>
        <th>
            Status
        </th>
        <th>
            Bill
        </th>
        <th>
            Courier
        </th>
        <th>
            BillStatus
        </th>
        <th></th>
    </tr>
    @foreach (var item in ViewBag.CompletedOrders)
    {
        <tr>
            <td>
                @item.OrderId
            </td>
            <td>
                @item.TailorDressCategoryMapping.Id
            </td>
            <td>
                @item.Status
            </td>
            <td>
                @item.Bill
            </td>
            <td>
                @item.Courier
            </td>
            <td>
                @item.BillStatus
            </td>
            @if (item.BillStatus != "Paid")
            {
                <td>
                    @Html.ActionLink("Make Payment", "MakePayment", new { id = item.OrderId })
                </td>
            }
        </tr>
    }
</table>